<div class="w-full md:w-6/12 lg:w-4/12 px-2 mb-14 ">
    {{ $permalink := .RelPermalink }}
    <div class=" bg-body dark:bg-darkmode-theme-light flex flex-col sspace-y-1 sm:space-y-2 md:space-y-3 lg:space-y-4 xl:space-y-5 2xl:space-y-6 h-full rounded-lg shadow-md dark:shadow-sm dark:shadow-opacity-80 justify-between p-2 sm:p-3 md:p-4 lg:p-5 xl:p-6 transition-all duration-500 ease-in-out hover:shadow-lg dark:hover:shadow-md">
        <div class="">
            {{ if .Params.image }}
            <a href="{{ $permalink }}" class="no-underline transform transition-all duration-500 ease-in-out hover:scale-105 block">
                {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6 !h-64 rounded object-cover object-top" "Size" "500x") }}
            </a>
            {{ end }}
            {{ with .Title }}
            <a href="{{ $permalink }}" class="no-underline transform transition-all duration-500 ease-in-out hover:scale-105 block">
                <h5 class="text-2xl font-semibold text-primary">{{ . | markdownify }}</h5>
            </a>
            {{ end }}
            {{ $categories:= .Params.categories }}
            {{ if $categories }}
            <ul class="mb-4">
                <li class="mr-4 inline-block">
                    <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
                        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
                    </a>
                </li>
                <li class="mr-4 inline-block">
                    <i class="fa-regular fa-folder mr-1"></i>
                    {{ range $i,$p:= $categories }}
                    <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="ms-1">{{ . | humanize
                        }}{{ if ne $i (sub (len $categories) 1) }}
                        {{ "," }}
                        {{ end }}
                    </a>
                    {{ end }}
                </li>
            </ul>
            {{ end }}

            {{ with .Description }}
            <a href="{{ $permalink }}" class="no-underline transform transition-all duration-500 ease-in-out hover:scale-105 block">
                <p class="mt-4 text-lg leading-relaxed text-secondary">{{ . | markdownify }}</p>
            </a>
            {{ end }}
        </div>
        <div class="flex justify-center">
            <a href="{{ $permalink }}" class="no-underline transform transition-all duration-500 ease-in-out hover:scale-105 block mt-2 px-4 py-2 btn btn-outline-primary rounded transition-colors duration-500 ease-in-out hover:bg-primary hover:text-white">
                Discover More <i class="fa fa-arrow-right pl-2"></i>
            </a>
        </div>
    </div>
</div>