<div class="w-full md:w-6/12 lg:w-4/12 px-2 mb-14">
    {{ $permalink := .Permalink }}
    <a href="{{ $permalink }}" class="no-underline hover:shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
        <div class="flex flex-col space-y-4 h-full rounded-lg shadow-md justify-between p-4">
            <div class="" >
                {{ if .Params.image }}
                {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6 !h-64 !rounded !object-cover object-top" "Size" "500x") }}
                {{ end }}
                {{ with .Title }}
                <h5 class="text-2xl font-semibold text-primary">{{ . | markdownify }}</h5>
                {{ end }}
                {{ with .Description }}
                <p class="mt-4 text-lg leading-relaxed text-secondary">{{ . | markdownify }}</p>
                {{ end }}
            </div>
            <div class="flex justify-center">
                <span class="mt-2 px-4 py-2 btn btn-outline-primary rounded">
                    Discover More <i class="fa fa-arrow-right pl-2"></i>
                </span>
            </div>
        </div>
    </a>
</div>